.content-wrap {
    width: 900px;
    margin: 80px auto;
}

.approval-form {
    position: relative;
    width: 100%;
}

.detail-table {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    border-collapse: collapse;
    background-color: #fff;
}

.table-row {
    height: 85px;
    border-bottom: 2px solid #E1E1E1;
}

.table-row:last-of-type {
    border-bottom: none;
}

.table-title {
    width: 35%;
    color: #737373;
    padding-left: 45px;
    text-align: left;
}

.table-detail {
    width: 65%;
    font-weight: 700;
}

.flex-wrap {
    display: flex;
    align-items: center;
    line-height: 85px;
}

.year {
    margin-right: 100px;
}

input[type=time] {
    text-align: center;
}

input[type=time]:first-of-type {
    margin-right: 50px;
}

input[type=time]:last-of-type {
    margin-left: 50px;
}

input[type=time]::-webkit-calendar-picker-indicator {
    display: none;
}

.comment-area {
    width: 316px;
    font-size: 14px;
}

.submit-btn {
    position: absolute;
    right: 0;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    background-color: #000;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.disabled-btn{
    position: absolute;
    right: 0;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    background-color: #696969;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}