.content-wrap {
    width: 900px;
    margin: 80px auto;
}

.tab-menu{
    width: 100%;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

input[type=radio]:checked + .tab-btn{
    font-weight: 700;
}

.tab-btn:first-of-type{
    margin-right: 80px;
}

.tab-btn{
    cursor: pointer;
}

.application-table{
    width: 900px;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #fff;
}

.table-row {
    height: 40px;
    border-bottom: 2px solid #E1E1E1;
}

.table-row:last-of-type {
    border-bottom: none;
}

.table-row:first-of-type {
    border-bottom: 3px solid #E1E1E1;
}

.table-title,
.table-detail {
    padding: 0 35px;
    font-weight: 700;
    color: #737373;
    text-align: left;
}

.table-title:first-of-type{
    text-align: center;
}

.table-title:last-of-type{
    padding-right: 60px;
}

.comment-area{
    max-width: 83px;
    white-space: nowrap;
    overflow: hidden;
}